{:paths ["src"]
 :deps  {org.clojure/clojure                   {:mvn/version "1.10.3"}
         org.clojure/tools.cli                 {:mvn/version "1.0.206"}}

 :aliases
 {:main {:main-opts ["-m" "basics.main"]}
  :test {:extra-deps {org.clojure/test.check   {:mvn/version "1.1.1"}
                      lambdaisland/kaocha      {:mvn/version "1.60.945"}}
         :main-opts  ["-m" "kaocha.runner"]}}}
